*.o
bin/aberd
bin/Dump
src/.LINKCOUNT
data/locations
data/objects
data/zones
data/uaf_rand
include/locations.h
include/mobiles.h
include/objects.h
bin/generate
bin/pfilter
include/verbs.h
src/.LINKED
data/mkdata.log
include/LINKCOUNT.H
include/MACHINE.H